$borders-data: (
  base: 1px solid color(base),
  dark: 1px solid color(base, dark),
  transparent: 1px solid transparent
);

/// Returns the default border.
/// @param {String} $variant [base] - The border variant key.
/// @return {List} The border value.

@function border($variant: base) {
  $fetched-value: map-get($borders-data, $variant);

  @if $fetched-value {
    @return $fetched-value;
  } @else {
    @error 'Border variant `#{$variant}` not found. Available variants: #{available-names($borders-data)}';
  }
}
