.wrapper {
  max-width: rem(1200px);
  margin: 0 auto;
  padding: 0 rem(40px);
  &--med {
    max-width: rem(960px);
  }
  &--pad-top {
    padding-top: rem(40px);
  }
}

.u {
  &-full-width {
    width: 100%;
  }
  &-text-center {
    text-align: center;
  }
}

