$height: rem(20px);
$horizontal-padding: ($height / 2);

$pip-size: rem(10px);
$pip-spacing: ($height - $pip-size) / 2;

@mixin pip-color($color) {
  .Pip {
    color: $color;
  }
}

.badge {
  @include pip-color(color(grey));
  display: inline-flex;
  align-items: center;
  padding: 0 $horizontal-padding;
  background-color: color(grey, dark);
  border: 2px solid color(white);
  border-radius: $height;
  font-size: rem(13px);
  line-height: $height;
  color: color(blue, text);
}

.statusSuccess {
  @include pip-color(color(green, dark));
  background-color: color(green, light);
  color: color(green, text);
}

.statusInfo {
  @include pip-color(color(blue, dark));
  background-color: color(blue, light);
  color: color(blue, text);
}

.statusAttention {
  @include pip-color(color(yellow, dark));
  background-color: color(yellow, light);
  color: color(yellow, text);
}

.statusWarning {
  @include pip-color(color(orange, dark));
  background-color: color(orange, light);
  color: color(orange, text);
}

.progressIncomplete .Pip {
  background: transparent;
}

.progressPartiallyComplete .Pip {
  background: linear-gradient(to top, currentColor, currentColor 50%, transparent 50%, transparent);
}

.progressComplete .Pip {
  background: currentColor;
}

.Pip {
  height: $pip-size;
  width: $pip-size;
  margin: 0 spacing(extra-tight) 0 ($pip-spacing - $horizontal-padding);
  border: rem(2px) solid currentColor;
  border-radius: 50%;
}