$min-height: control-height();
$vertical-padding: ($min-height - line-height(body) - rem(2px)) / 2;
$slim-min-height: rem(30px);
$slim-vertical-padding: ($slim-min-height - line-height(body) - rem(2px)) / 2;
$large-min-height: rem(44px);
$large-vertical-padding: ($large-min-height - line-height(body) - rem(2px)) / 2;
$spinner-size: rem(16px);
$spinner-cycle-duration: 0.7s;

.button {
  @include recolor-icon(color(base, dark));
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: $min-height;
  min-width: $min-height;
  margin: 0;
  padding: $vertical-padding spacing();
  background: linear-gradient(to bottom, color(grey, light), color(grey));
  border: 1px solid color(grey, dark);
  box-shadow: shadow(faint);
  border-radius: border-radius();
  line-height: 1;
  color: color(base);
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition-property: background, border, box-shadow;
  transition-duration: duration();
  transition-timing-function: easing();

  &:hover {
    background: color(base, white);
    border-color: color(grey, dark);
  }

  &:focus {
    border-color: color(grey);
    outline: 0;
    box-shadow: 0 0 0 1px color(grey);
  }

  &:active {
    // Same color gradient is necessary for background transitions
    background: linear-gradient(to bottom, color(grey, dark), color(grey, darker));
    border-color: color(grey, dark);
    box-shadow:
      0 0 0 0 transparent,
      inset 0 1px 1px 0 rgba(color(base, dark), 0.1),
      inset 0 1px 4px 0 rgba(color(base, dark), 0.2);
  }

  &.disabled {
    @include recolor-icon(color(base, lightest));
    opacity: 0.5;
    transition: none;
    background: linear-gradient(to bottom, color(grey, light), color(grey, light));
    color: color(base);
  }
}

.button__primary {
  @include button-filled(color(blue), color(blue, dark));
  @include recolor-icon(color(white));

  &.disabled {
    @include button-filled-disabled(color(blue));
  }
}

.button__delete {
  @include button-filled(color(red), color(red, dark));
  @include recolor-icon(color(white));

  &--disabled {
    @include button-filled-disabled(color(red));
  }
}

.button__outline {
  @include button-outline(color(grey, darker));

  &.disabled {
    border-color: color(blue, dark);
    color: color(base, lightest);
  }
}

.button__delete--outline {
  @include button-outline(color(red));
  @include recolor-icon(color(red, dark));
}

.button__disabled {
  cursor: default;
  pointer-events: none;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  transition: border-color duration() easing();

  &,
  &:hover,
  &.disabled {
    color: transparent;
  }
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $spinner-size;
  height: $spinner-size;
  margin-top: -($spinner-size / 2);
  margin-left: -($spinner-size / 2);
  animation: loading $spinner-cycle-duration linear infinite;
}

// The way the designs work, we need to do lots of reaching down to
// target the content in pseudo-selectors, so we need higher specificity
// in this case.
// stylelint-disable selector-max-specificity

.plain {
  @include recolor-icon(color(blue));
  margin: (-1 * $vertical-padding) (-1 * spacing());
  background: transparent;
  border: border(transparent);
  box-shadow: none;
  color: color(blue);

  &:hover,
  &:focus,
  &:active {
    @include recolor-icon(color(blue, dark));
    background: transparent;
    border: border(transparent);
    box-shadow: none;
    color: color(blue, dark);
  }

  &:focus > .Content::after {
    opacity: 1;
  }

  &.disabled {
    background: none;
  }

  &.sizeSlim {
    margin-top: (-1 * $slim-vertical-padding);
    margin-bottom: (-1 * $slim-vertical-padding);
  }

  &.sizeLarge {
    margin: (-1 * $large-vertical-padding) (-1 * spacing(loose));
  }

  > .Content::after {
    @include plain-button-backdrop;
    content: '';
    opacity: 0;
  }

  &.iconOnly {
    @include recolor-icon(color(base, dark));
    margin: -0.5 * ($min-height - icon-size());

    &:focus,
    &:active {
      @include recolor-icon(color(base, dark));
      background: plain-button-background();
    }

    &:hover,
    &:active {
      @include recolor-icon(color(base));
    }

    > .Content::after {
      display: none;
    }

    &.disabled {
      @include recolor-icon(color(blue, dark));
    }
  }
}

// stylelint-enable selector-max-specificity

.iconOnly {
  padding-left: spacing(tight);
  padding-right: spacing(tight);
}

.button--slim {
  min-height: $slim-min-height;
  min-width: $slim-min-height;
  padding: $slim-vertical-padding spacing();
}

.button--slim-sm {
  min-height: $slim-min-height;
  min-width: $slim-min-height;
  padding: $slim-vertical-padding spacing(tight);
}

.button--large {
  min-height: $large-min-height;
  min-width: $large-min-height;
  padding: $large-vertical-padding rem(24px);

  @include text-style-button-large;
}

.button--full-width {
  display: block;
  width: 100%;
}

.Content {
  @include text-style-button;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;
}

.Icon {
  @include text-style-body;
  transition: color duration() easing();

  &:first-child {
    // This compensates for the typical icon used in buttons being
    // inset within its bounding box.
    margin-left: -2px;
    margin-right: spacing(extra-tight);
  }

  &:last-child {
    margin-left: spacing(extra-tight);

    // This compensates for the disclosure icon, which is substantially
    // inset within the viewbox (and makes it look like there is too much
    // spacing on the right of the button)
    margin-right: -5px;
  }

  &:only-child {
    margin: 0;
  }
}