.card {
  overflow: hidden;
  background-color: color(white);
  box-shadow: shadow();

  + .card {
    margin-top: spacing(loose);
  }

  @include page-content-when-not-partially-condensed {
    border-radius: border-radius();
  }
  &__header {
    padding: spacing(loose) spacing(loose) 0;
  }
  &__option {
    position: relative;
    text-align: center;
    height: rem(120px);
    background: color(base, white);
  }
}

.subdued {
  background-color: color(grey, lighter);
}


.section {
  padding: spacing(loose);

  + .section {
    border-top: 1px solid color(grey);
  }
  &--subdued {
    background-color: color(grey);
    border: 1px solid color(grey, dark);
  }
}

.SectionHeader {
  padding-bottom: spacing(tight);
}

.Footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 spacing(loose) spacing(loose);
}