.footer-nav {
  margin-top: auto;
  border-top: 1px solid color(grey);
  padding: rem(20px) 0 rem(24px);
  &__links {
    display: flex;
    justify-content: center;
    padding: 0;
  } 
  &__link {
    display: flex;
    align-items: center;
    @include text-style-caption;
    margin: 0 rem(20px);
    cursor: pointer;
    font-weight: 100;
    &:first-child {
      color: color(blue);
      // opacity: 0.8;
      font-weight: 200;
    }
  }
}