.main-nav {
  height: rem(64px);
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid color(grey); 
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 rem(100px);
  }
  &__logo {
    width: rem(120px);
    height: rem(24px);
    background: color(blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: color(base, white);
  }
  &__links {
    display: flex;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } 
  &__link {
    display: flex;
    align-items: center;
    @include text-style-caption;
    margin: 0 rem(20px);
    cursor: pointer;
    &:hover {
    }
    &-icon {

    }
    &-text {
      margin: 0;
      padding: 0 rem(8px);
    }
  }
  &__user-options {
    display: flex;
    align-items: center;
    @include text-style-caption;
    position: absolute;
    top: 30%;
    right: rem(100px);
  }
  &__user-option {
    padding: 0 rem(10px);
    &:last-child {
      border-left: 1px solid color(grey);
    }
  }
  &__settings-icon {
    position: relative;
    bottom: rem(-1px);
    right: rem(-4px);
    width: rem(16px);
  }
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(32px) 0 rem(12px);
  &__left {
    animation: .72s fadeInRight;
  }
  &__right {
    animation: .72s fadeInLeft;
  }
  &__welcome {
    display: flex;
  }
  &__user-avatar {
    width: rem(60px);
    height: rem(60px);
    overflow: hidden;
    background: url(../user-avatar.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid color(grey);
    margin-right: rem(16px);
  }
  &__user-name {
    @include text-style-display-small;
    margin-bottom: rem(2px);
  }
  &__user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__user-facility {
    @include text-style-caption;
    @include text-emphasis-subdued;
  }
}

.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid color(grey);
  &__tab {
    @include text-style-caption;
    font-size: rem(10px) !important;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-bottom: 3px solid transparent;
    padding: rem(6px) rem(12px);
    margin: 0 rem(4px);
    text-align: center;
    &.nav-tabs__tab--active {
      border-color: color(blue);
    }
  }
}

// Overrides
.main-nav {
  .simple-dropdown__dropdown {
    top: rem(28px);
    right: 0;
    left: initial;
  }
  .simple-dropdown__list {
    text-align: right;
  }
}