.modal {
  display: none;
  &.modal--active {
    display: block;
  }
  &__body {
    display: flex;
    width: rem(645px);
    left: calc(50vw - 317px);
    position: fixed;
    z-index: 1000;
    background: color(base, white);
    pointer-events: auto;
    border-radius: rem(4px);
    box-sizing: border-box;
    top: calc(50vh - 300px);
    min-height: rem(360px);
    max-height: rem(600px);
  }
  &__content {
    border-top-left-radius: rem(4px);
    border-bottom-left-radius: rem(4px);
    display: inline-block;
    vertical-align: top;
    width: 55%;
    max-height: rem(600px);
    overflow: auto;
    padding: rem(20px);
    background-color: white;
    margin: auto;
    transition: all 700ms linear;
    z-index: 2;
    position: relative;
    border: 1px solid rgb(238, 238, 238);
    left: 0px;
    height: 100%;
    &--full {
      width: 100%;
      margin: 0;
      padding: rem(24px);
    }
  }
  &__map,
  &__with-accent {
    border-top-right-radius: rem(4px);
    border-bottom-right-radius: rem(4px);
    position: relative;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 45%;
    background-color: rgb(250, 250, 250);
    transition: all 700ms linear;
    left: 0px;
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0px;
    cursor: pointer;
    background-image: url(../icons/x.svg);
    background-size: 100%;
    height: rem(16px);
    width: rem(16px);
    border: none;
    outline: none;
    background-color: transparent;
    transition: opacity 0.2s;
    opacity: 1;
    z-index: 10;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(color(base, black), 0.5);
    z-index: 999;
  }
}

.modal--wide {
  .modal__body {
    width: rem(800px);
    left: calc(50vw - 400px);
  }
}

.modal--full {
  .modal__content {
    width: 100%;
  }
}

// Header
.modal {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(12px);
  }
  &__header-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-filled(color(blue), color(blue, dark));
    @include recolor-icon(color(white));
    width: rem(32px);
    height: rem(32px);
    margin-right: rem(12px);
    border-radius: 50%;
    border: 2px solid color(blue);
    box-shadow: shadow();
  }
  &__header-icon {
    width: rem(22px);
    height: rem(22px);
  }
  &__header-title {
    @include text-style-display-small;
  }
}