body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  background: color(base, white);
  & > div.ember-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.app {
  width: 100%;
  flex: 1 1 auto;
  &__index {
    min-height: rem(400px);
    margin-bottom: rem(100px);
  }
}

// Overrides

//index
.user-header {
  .simple-dropdown__text {
    opacity: 0.7;
    letter-spacing: .075rem;
  }
}

// Vendor styles
.ember-cli-g-map {
  height: 100%;
}

