.simple-dropdown {
  position: relative;
  &.simple-dropdown--active {
    .simple-dropdown__dropdown,
    .simple-dropdown__mask {
      display: block;
    }
    .simple-dropdown__text {
      z-index: 110;
    }
  }
  &__presentation {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__text {
    @include text-style-caption;
    margin-right: rem(4px);
    &:hover ~ .simple-dropdown__arrow {
      transition: opacity .5s;
      opacity: 1;
    }
  }
  &__arrow {
    width: rem(12px);
    opacity: 0.5;
    transition: opacity .5s;
  }
  &__dropdown {
    display: none;
    position: absolute;
    top: rem(20px);
    left: 0;
    min-width: rem(100px);
    width: 100%;
    background: color(white);
    @include shadow-16dp();
    border: 1px solid color(grey);
    z-index: 110;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  &__list-item {
    @include text-style-caption;
    cursor: pointer;
    padding: rem(8px) rem(12px);
    margin: 0;
    border-top: 1px solid color(grey);
    &:first-child {
      border-top: 2px solid color(blue, dark);
    }
    &:hover {
      background: color(blue, lighter);
    }
  }
  &__mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100;
  }
}