.table {
  width: 100%;
  margin: 0 0 rem(16px);
  line-height: 1.25;
  border-collapse: collapse;
  border-spacing: 0;
  &__wrapper {
    width: 100%;
    // overflow: auto;
  }
  &__column-title {
    @include text-style-caption;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1rem;
    padding: 1.6rem 3rem 1.6rem 0;
    border-bottom: 2px solid color(blue, dark);
    white-space: nowrap;
    vertical-align: baseline;
    &:first-child {
      padding-left: rem(16px);
    }
  }
  &__row {
    border-bottom: 1px solid color(grey);
    &:hover {
      background: lighten(color(grey), 4%);
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__cell {
    @include text-style-caption;
    @include text-emphasis-subdued;
    position: relative;
    white-space: nowrap;
    padding: 1rem 3rem 1rem 0;
    &--strong {
      @include text-emphasis-strong;
    }
    &:first-child {
      padding-left: rem(8px);
    }
    &:last-child {
      padding-right: rem(8px);
    }
    &--align-right {
      float: right;
    }
  }
  &__status {
    display: inline-block;
    margin-right: rem(4px);
    width: rem(8px);
    height: rem(8px);
    background: color(green);
    border-radius: 50%;
  }
}