.login {
  .t-logo {
    margin: 0 auto rem(16px) auto;
    height: rem(46px);
    fill: red;
  }
  .modal__body {
    @include shadow-8dp;
  }
  .modal__content {
    padding: rem(32px) rem(48px) rem(32px);
  }
  .modal__with-accent {
    padding: rem(28px);
    background: url(../images/login-bg.jpg) 56% center no-repeat;
    background-size: cover;
  }
  .modal__overlay {
    background: rgba(color(grey), 0.90);
    filter: blur(12px);
  }
  .modal__footer .plain {
    margin: 0;
  }
}

.is-registration {
  .modal__with-accent {
    background: url(../images/registration-bg.jpg) 69% center no-repeat;
    background-size: cover;
  }
}

.is-reset-password {
  .modal__with-accent {
    background: url(../images/reset-password-bg.jpg) 69% center no-repeat;
    background-size: cover;
  }
}