.request {
  padding-bottom: rem(60px);
  &__title {
    @include text-style-display-medium;
    text-align: center;
    margin-bottom: rem(12px);
  }
  &__section-title {
    @include text-style-subheading;
    letter-spacing: .1rem;
  }
  &__row {
    opacity: 0;
    border-bottom: 1px solid color(grey);
    padding: rem(16px) 0;
  }
  &__text {
    @include text-style-caption;
    margin-bottom: rem(8px);
  }
  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: color(white);
    height: rem(80px);
    border-top: 3px solid color(grey, dark);
    z-index: 100;
    .button {
      margin: 0 rem(8px);
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }
  &--step-two {
    .request__row {
      opacity: 0;
    }
  }
}

// Overrides
.plain--request {
  padding-left: rem(15px);
}

.request--step-two {
  .request__row:last-child {
    border-bottom: none;
  }
}

.row__divider {
  height: rem(1px);
  border: 0;
  background: color(grey);
  margin: rem(16px) 0;
}
