.input {
  flex: 1 1 22rem;
  margin-bottom: rem(16px);
  min-width: 22rem;
  max-width: 100%;
  &--error {
    .input__input-bg {
      background-color: color(red, lighter);
      border-color: color(red);
      box-shadow: none;
    }
    .input__input-help {
      color: color(red);
    }
  }
  &--success {
    .input__input-bg {
      background-color: color(green, lighter);
      border-color: color(green);
      box-shadow: none;
    }
    .input__input-help {
      color: color(green);
    }
  }
  &--disabled {
    .input__input-bg {
      background-color: color(grey, lighter);
      border-color: color(grey, dark);
      box-shadow: none;
    }
    .input__input-wrapper {
      opacity: 0.5;
    }
    .input__input,
    .input__input-bg {
      cursor: not-allowed;
    }
    .input__input-help {
      color: color(grey, dark);
    }
  }
  &__label {
    margin-bottom: .4rem;
    @include text-style-input;
  }
  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(-4px);
  }
  &__input {
    @include text-style-input;
    position: relative;
    z-index: 20;
    display: block;
    flex: 1 1 0%;
    width: 100%;
    min-width: 0;
    min-height: 3.6rem;
    margin: 0;
    padding: .5rem 0;
    background: none;
    border: 1px solid transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    &:focus {
      outline: none;
      & ~ .input__input-bg {
        border-color: color(blue);
        box-shadow: inset 0 0 0 0 transparent, 0 0 0 1px color(blue);
      }
    }
  }
  &__input-bg {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: color(white);
    border: 1px solid color(grey);
    box-shadow: inset 0 1px 0 0 rgba(99,115,129,.05);
    border-radius: 3px;
    backface-visibility: hidden;
    will-change: box-shadow,border-color;
    transition-property: box-shadow,border-color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
  }
  &__input-help {
    @include text-emphasis-subdued;
    @include text-style-caption;
    margin-top: rem(6px);
  }
  &__input-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 1.2rem;
  }
  .simple-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
  }
  .simple-dropdown__presentation {
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
  .simple-dropdown__arrow {
    position: relative;
    left: -8px;
  }
  .simple-dropdown__dropdown {
    top: rem(40px);
  }
  .simple-dropdown__list-item:first-child {
    border-top: none;
  }
  .simple-dropdown--active ~ .input__input-bg {
    border-color: color(blue);
    box-shadow: inset 0 0 0 0 transparent, 0 0 0 1px color(blue)
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  @include text-emphasis-subdued;
  opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  @include text-emphasis-subdued;
  opacity: 0.5;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  @include text-emphasis-subdued;
  opacity: 0.5;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  @include text-emphasis-subdued;
  opacity: 0.5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  @include text-emphasis-subdued;
  opacity: 0.5;
}