.radio-button {
  display: inline-flex;
  align-items: flex-start;
  padding: .4rem 0;
  &__radio-button-wrapper {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    position: relative;
    height: 1.6rem;
    width: 1.6rem;
    margin-top: 2px;
    margin-right: .8rem;
  }
  &__input {
    position: absolute;
    top: 0;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    &:checked + .radio-button__fake-input-bg {
      background: color(blue);
    }
    &:focus + .radio-button__fake-input-bg {
      background: color(blue);
      box-shadow: 0 0 0 1px color(blue), 0 0 0 0 transparent;
    }
  }
  &__fake-input-bg {
    background: color(grey);
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 50%;
    transition-property: box-shadow,background;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: linear-gradient(180deg,#fff,#f9fafb);
      border-radius: 50%;
    }
  }
  &__fake-input-circle {
    display: block;
    height: 2rem;
    width: 2rem;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    fill: color(blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transform-origin: 50% 50%;
    transition: transform .1s cubic-bezier(.36,0,1,1);
    &.is-checked,
    &.is-checked .radio-button__fake-input-icon {
      transform: translate(-50%,-50%) scale(1);
    }
  }
  &__fake-input-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transform-origin: 50% 50%;
    height: 50%;
    width: 50%;
    background: color(blue);
    border-radius: 50%;
    transition: transform .1s cubic-bezier(.36,0,1,1);
  }
  &__label {
    @include text-style-input;
    cursor: pointer;
    padding-top: rem(1px);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: none;
    letter-spacing: normal;
    flex: 1 1 0%;
    -webkit-tap-highlight-color: transparent;
  }
}
